/* ===========================
VIDEO INTRODUÇÃO
=========================== */


#introVideo{

position:fixed;

inset:0;

width:100vw;

height:100vh;

background:#000;

display:none;

z-index:2000;

overflow:hidden;

}



#videoIntro{

position:absolute;

top:0;

left:0;

width:100%;

height:100%;


/* preenche celular mantendo proporção */

object-fit:cover;


}



#btnEntrar{

position:absolute;

bottom:40px;

left:50%;

transform:translateX(-50%);


padding:18px 45px;


border:0;


border-radius:40px;


background:

linear-gradient(
90deg,
#00ff99,
#00ccff
);


font-size:20px;

font-weight:bold;


color:#001;


z-index:5;



box-shadow:

0 0 25px #00ff99;


}
